<div class="row pt-4">
  <div class="col-sm-12 col-md-8 mt-4"><h2 class="">Timer</h2></div>
  <div class="col-sm-12 col-md-4 mt-4">
    <div>
      <label for="nameInput">Your name: </label>
      <input type="text" id="nameInput" [(ngModel)]="name" />
    </div>
  </div>

  <div *ngIf="name.length > 1; else enterName" class="row">
    <div class="sw-container">
      <div class="stopwatch h3">{{ hr }} : {{ min }} :{{ sec }} : {{ ms }}</div>
      <div class="buttons-container">
        <button class="btn btn-primary m-1" (click)="start()">Start</button>
        <button class="btn btn-secondary m-1" (click)="reset()">reset</button>
      </div>
    </div>
  </div>
  <ng-template #enterName>Please enter you name</ng-template>
</div>
